h1 {
  background-color: coral;
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
}
input::button {
  color: whitesmoke;
  border-radius: 5px;
  border-color: aliceblue;
  font-size: large;
}
h4 {
  display: none;
  color: darkred;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

.carDiv :hover {
  cursor: pointer;
  opacity: 50%;
}

input[type="button"] {
  cursor: pointer;
}
#searchDiv {
  width: fit-content;
  border: solid;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border-color: coral;
}

#searchBox {
  font-size: large;
}

#carsList {
  list-style: none;
}

#carImagePur {
  width: auto;
  height: 400px;
}

#wtires {
  display: none;
}

#cdgps {
  display: none;
}

#cdwarranty {
  display: none;
}

#carList {
  position: relative;
  margin: auto;
  list-style: none;
}

#error {
  color: darkred;
}

.intro {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: xx-large;
}
.carDiv {
  border: Solid;
  border-radius: 5px;
  width: 30%;
  margin: 10px;
  float: left;
}
.carImage {
  width: 100%;
  height: 300px;
}
.carPara {
  margin-left: 20px;
}
#carForm {
  border: solid;
  border-radius: 10px;
  border-color: coral;
  width: 60%;
  display: none;
  margin: auto;
  text-align: center;
  padding: 20px;
}
#thankyouForm {
  border: solid;
  border-radius: 10px;
  border-color: coral;
  width: 60%;
  display: none;
  margin: auto;
  text-align: center;
  padding: 20px;
}
